<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>密码错误</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/css/adminlte.min.css">
</head>
<body class="hold-transition lockscreen">
<div class="lockscreen-wrapper">
	<div class="lockscreen-logo">
		<a href="../index2.html"><b>汉升车辆管理系统</b> </a>
	</div>
	<div class="lockscreen-name" style="text-align:center;font-size:30px;">欢迎光临！</div>

	<div class="lockscreen-item" style="text-align:center;font-size:18px " >
		<a href="/user/login">重新登录</a>
	</div>

	<div class="lockscreen-footer text-center">
		<strong>Copyright &copy; 2020-2025 <a href="http://www.vms.com">HSCG.com</a>.</strong>
	</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
