<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>用户登录</title>
	<meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
	<meta name="author" content="Vincent Garreau" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" media="screen" href="/css/beforcss/style.css">
	<link rel="stylesheet" type="text/css" href="/css/beforcss/reset.css"/>
</head>

<body>
<div id="particles-js">
	<div class="login">

		<div class="login-logo" style="text-align:center ;margin-top:20px ;font-size:20px;" >
			<h1><b>汉升车辆管理</b></h1>
		</div>
		<div class="login-top">
			登录
		</div>

		<form action="/user/login" method="post">
			<div class="login-center clearfix">
				<div class="login-center-img">
					<img src="/img/name.png" />
				</div>
				<div class="login-center-input">
					<input type="text" name="username" placeholder="请输入您的手机号" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的手机号'"/>
					<div class="login-center-input-text">手机号</div>
				</div>
			</div>

			<div class="login-center clearfix">
				<div class="login-center-img">
					<img src="/img/password.png"/>
				</div>
				<div class="login-center-input">
					<input type="password" name="password"placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-center" >
				<button type="submit"  style="cursor: pointer;width: 250px;text-align: center;
					height: 35px;line-height: 30px;background-color: dodgerblue;border-radius: 5px;
					margin: 0 auto;margin-top: 5px;color: white;">
					登录
				</button>
			</div>
		</form>
		<div class="login-center" style=" margin-right: 25px; text-align:right; color: grey;" >
			<a href="#" >
				忘记密码?
			</a>
		</div>
		<div class="sk-rotating-plane"></div>
	</div>
</div>

<!-- scripts -->
<script src="/js/beforjs/particles.min.js"></script>
<script src="/js/beforjs/app.js"></script>

</body>
</html>